*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#f4f4f4;
  color:#222;
}

/* HEADER */
.header{
  background:#111;
  color:#fff;
  padding:15px 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:100;
}

.header nav a{
  color:#fff;
  margin-left:18px;
  text-decoration:none;
}

.header nav a:hover{
  color:#d4a017;
}

/* HERO */
.hero{
  height:85vh;
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://drive.google.com/uc?id=1HvHIIZNQFVLH2GO44ukp5uofyimk6ccN")
    center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:#fff;
}

.hero-content h2{
  font-size:3rem;
}

.badge{
  background:#d4a017;
  color:#000;
  padding:6px 14px;
  border-radius:20px;
  display:inline-block;
  margin-bottom:10px;
}

/* BUTTON */
.btn{
  background:#d4a017;
  border:none;
  padding:12px 22px;
  border-radius:6px;
  font-weight:bold;
  cursor:pointer;
  margin-top:15px;
}

/* SECTIONS */
.section{
  padding:60px 20px;
  text-align:center;
}

.section.dark{
  background:#111;
  color:#fff;
}

/* ROOMS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:30px;
}

.card{
  background:#fff;
  border-radius:10px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card p{
  padding:12px;
  font-weight:bold;
}

/* LOBBY */
.wide{
  max-width:900px;
  margin:20px auto;
}

.wide img{
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:12px;
}

/* FOOTER */
footer{
  background:#000;
  color:#fff;
  text-align:center;
  padding:15px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero-content h2{
    font-size:2.2rem;
  }
}
