*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body{
  background:#f4f4f4;
  color:#222;
}

/* HEADER */
.header{
  background:#111;
  color:#fff;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:100;
}

.logo{
  font-size:1.4rem;
  font-weight:bold;
}

.nav a{
  color:#fff;
  margin-left:20px;
  text-decoration:none;
}

.nav a:hover{
  color:#d4a017;
}

/* HERO */
.hero{
  height:90vh;
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("assets/exteriorday.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:#fff;
}

.hero-content h1{
  font-size:3rem;
}

.hero-content p{
  margin:10px 0 20px;
}

.badge{
  background:#d4a017;
  color:#000;
  padding:6px 16px;
  border-radius:20px;
  display:inline-block;
  margin-bottom:10px;
}

/* BUTTON */
.btn{
  background:#d4a017;
  border:none;
  padding:12px 26px;
  border-radius:6px;
  font-weight:bold;
  cursor:pointer;
}

/* SECTIONS */
.section{
  padding:70px 30px;
  text-align:center;
}

.section.dark{
  background:#111;
  color:#fff;
}

.section-text{
  max-width:700px;
  margin:15px auto 0;
}

/* ROOMS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:25px;
  margin-top:40px;
}

.card{
  background:#fff;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card img{
  width:100%;
  height:190px;
  object-fit:cover;
}

.card h3{
  margin:12px 0 5px;
}

.card p{
  padding-bottom:15px;
}

/* LOBBY */
.wide-img{
  width:90%;
  max-width:900px;
  border-radius:14px;
  margin-top:20px;
}

/* AMENITIES */
.amenities{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
  margin-top:30px;
}

.amenities div{
  background:#1e1e1e;
  padding:18px;
  border-radius:10px;
}

/* FOOTER */
footer{
  background:#000;
  color:#fff;
  text-align:center;
  padding:18px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero-content h1{
    font-size:2.2rem;
  }
}